body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

h1 {
    color: e3e3e5;
    text-align: center;
}

p {
    font-family: Verdana;
}

.topnav {
    background-color: #282a35;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #e3e3e5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 650;
}

.topnav a:hover {
    background-color: #3c3e49;
    color: #e3e3e5;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav a.right {
    float: right;
}

.topnav a.rounded {
    background-color: purple;
    padding: 8px 16px;
    border-radius: 100px;
    margin: 6px 4px;
}
  
.topnav .icon {
    display: none;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: darksalmon;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}